<section id="education" class="education-section">
  <h2 class="section-title">Education</h2>
  <div class="timeline">

    <div class="timeline-item reveal">
      <div class="timeline-icon"><i class="fa-solid fa-graduation-cap"></i></div>
      <div class="timeline-content">
        <h3>Computer Science</h3>
        <h4>Virtual Universty, Lahore</h4>
        <!-- <p>CGPA: 3.23 / 4.0 (Thesis Continued)</p> -->
        <span class="date">Continue</span>
      </div>
    </div>

    <div class="timeline-item reveal">
      <div class="timeline-icon"><i class="fa-solid fa-graduation-cap"></i></div>
      <div class="timeline-content">
        <h3>F.A IT (Information Technology)</h3>
        <h4>Commerce Collage , Sabzazar</h4>
        <!-- <p>CGPA: 2.81 / 4.0</p> -->
        <span class="date">March 2023 – Sep 2025</span>
      </div>
    </div>

    <div class="timeline-item reveal">
      <div class="timeline-icon"><i class="fa-solid fa-building-columns"></i></div>
      <div class="timeline-content">
        <h3>Biology Science</h3>
        <h4>Govt School,Sabzazar</h4>
        <p>Percentage: 72%</p>
        <span class="date">Sep 2022 – Oct 2023</span>
      </div>
    </div>

  </div>
</section>
