<section class="projects-section">
    <h2 class="section-title">My <span>Projects</span></h2>
    <div class="projects-grid">
      <div class="project-card reveal">
        <img src="https://i.imgur.com/ldr2R0w.jpeg" alt="Project 1">
        <div class="overlay">
          <h3>Bin Yousaf</h3>
        </div>
      </div>

      <div class="project-card reveal">
        <img src="https://i.imgur.com/8BRdKE1.jpeg" alt="Project 2">
        <div class="overlay">
          <h3>Golden Ratio</h3>
        </div>
      </div>

      <div class="project-card reveal" style="background-position: left;">
        <img src="https://i.imgur.com/as6V6lC.jpeg" alt="Project 3">
        <div class="overlay">
          <h3>Bit Focus</h3>
        </div>
      </div>
      <div class="project-card reveal">
        <img src="https://avatars.mds.yandex.net/i?id=a10a23cd1db2b6ec8802ba58d4127e0ea7b09101-9049934-images-thumbs&n=13" alt="Project 3">
        <div class="overlay">
          <h3>Astream</h3>
        </div>
      </div>
      <div class="project-card reveal">
        <img src="https://avatars.mds.yandex.net/i?id=7b229b515e3bbd3a4d51adfa5bc29f9bb6894ef3-10107372-images-thumbs&n=13" alt="Project 3">
        <div class="overlay">
          <h3>GoDady</h3>
        </div>
      </div>
      <div class="project-card reveal">
        <img src="https://avatars.mds.yandex.net/i?id=c9355c1f6f9dbe36895e0a2a4a71c0b37719c515-9214095-images-thumbs&n=13" alt="Project 3">
        <div class="overlay">
          <h3>Vidge Tech</h3>
        </div>
      </div>

      <!-- Add more as needed -->
    </div>
  </section>

  <app-footer></app-footer>