body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #0f172a;
  color: #fff;
}
.section-title span{
  color: #0ea5e9;
}
.projects-section {
  padding: 80px 20px;
  max-width: 1200px;
  margin: auto;
}


.section-title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 60px;
  position: relative;
  color: white;
  padding-top: 8px;
}

.section-title::after {
  content: '';
  width: 100px;
  height: 4px;
  background-color: #0ea5e9;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 50px;
}

.project-card {
  position: relative;
  max-width: 100%;
  width: 600px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transform: translateY(50px);
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.project-card img {
  width: 500px;
  height: 200px;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}

.project-card .overlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 23, 42, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: bottom 0.4s ease;
}

.project-card:hover img {
  transform: scale(1.05);
}

.project-card:hover .overlay {
  bottom: 0;
}

.project-card .overlay h3 {
  font-size: 20px;
  color: #0ea5e9;
  text-align: center;
}

/* Reveal Animation */
.project-card.slide-in {
  opacity: 1;
  transform: translateY(0);
}
.features-grid{
  display: grid;
  grid-column: 1fr 1fr 1fr;
}
