<section class="projects-section">
    <h2 class="section-title">My Projects</h2>
    <div class="projects-grid">
      <div class="project-card reveal">
        <img src="https://avatars.mds.yandex.net/i?id=1debf27c8f4c06b71b7b395fce357fa7a2db5960-5673903-images-thumbs&n=13" alt="Project 1">
        <div class="overlay">
          <h3>Bin Yousaf</h3>
        </div>
      </div>

      <div class="project-card reveal">
        <img src="https://avatars.mds.yandex.net/i?id=6a249226c967f114c2a83168f0025a8092dd1c04-4410396-images-thumbs&n=13" alt="Project 2">
        <div class="overlay">
          <h3>Golden Ratio</h3>
        </div>
      </div>

      <div class="project-card reveal">
        <img src="https://avatars.mds.yandex.net/i?id=05ef087b7e1efcae2fb4749c00f74b44f3e3691a-4462005-images-thumbs&n=13" alt="Project 3">
        <div class="overlay">
          <h3>Bit Focus</h3>
        </div>
      </div>
      <div class="project-card reveal">
        <img src="https://avatars.mds.yandex.net/i?id=a10a23cd1db2b6ec8802ba58d4127e0ea7b09101-9049934-images-thumbs&n=13" alt="Project 3">
        <div class="overlay">
          <h3>Astream</h3>
        </div>
      </div>
      <div class="project-card reveal">
        <img src="https://avatars.mds.yandex.net/i?id=7b229b515e3bbd3a4d51adfa5bc29f9bb6894ef3-10107372-images-thumbs&n=13" alt="Project 3">
        <div class="overlay">
          <h3>GoDady</h3>
        </div>
      </div>
      <div class="project-card reveal">
        <img src="https://avatars.mds.yandex.net/i?id=c9355c1f6f9dbe36895e0a2a4a71c0b37719c515-9214095-images-thumbs&n=13" alt="Project 3">
        <div class="overlay">
          <h3>Vidge Tech</h3>
        </div>
      </div>

      <!-- Add more as needed -->
    </div>
  </section>