<div class="main">
    <section class="reveal-section" id="why-us">
        <div class="container">
            <div class="head">
                <h1>My <span>Services</span></h1>
            </div>
            <div class="features-grid">
                <div class="feature-box" data-aos="zoom-in" data-aos-delay="200" #featureBox>
                    <i class="fas fa-code"></i>
                    <h3>Web Development</h3>
                    <p>HTML, CSS, and advanced JavaScript, I build interactive user interfaces, seamless animations, and
                        smooth user experiences. Whether it's a business website, a landing page, or a custom
                        single-page application</p>
                </div>
                <div class="feature-box" data-aos="zoom-in" data-aos-delay="300" #featureBox>
                   <i class="fas fa-paint-brush"></i>
                    <h3>Designer</h3>
                    <p>As a creative designer, I craft visually compelling and user-centric designs that bring ideas to
                        life. From sleek website interfaces to engaging user experiences, I focus on blending aesthetics
                        with functionality</p>
                </div>
                <div class="feature-box" data-aos="zoom-in" data-aos-delay="400" #featureBox>
                    <i class="fas fa-tachometer-alt"></i>
                    <h3>High Performance</h3>
                    <p>I build high-performance websites that are fast, reliable, and optimized for every device. By
                        combining lightweight code with modern development techniques  I ensure rapid loading times, smooth animations,</p>
                </div>
                <div class="feature-box" data-aos="zoom-in" data-aos-delay="200" #featureBox>
                    <i class="fas fa-chart-line"></i>
                    <h3>Digital Marketing</h3>
                    <p>HTML, CSS, and advanced JavaScript, I build interactive user interfaces, seamless animations, and
                        smooth user experiences. Whether it's a business website, a landing page, or a custom
                        single-page application</p>
                </div>
                <div class="feature-box" data-aos="zoom-in" data-aos-delay="200" #featureBox>
                   <i class="fa-solid fa-mobile-screen"></i>
                    <h3>Mobile App</h3>
                    <p>HTML, CSS, and advanced JavaScript, I build interactive user interfaces, seamless animations, and
                        smooth user experiences. Whether it's a business website, a landing page, or a custom
                        single-page application</p>
                </div>
                <div class="feature-box" data-aos="zoom-in" data-aos-delay="200" #featureBox>
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <h3>SEO Optimization</h3>
                    <p>HTML, CSS, and advanced JavaScript, I build interactive user interfaces, seamless animations, and
                        smooth user experiences. Whether it's a business website, a landing page, or a custom
                        single-page application</p>
                </div>
            </div>
        </div>
    </section>

</div>

<app-footer></app-footer>